.new-title {
  font-size: 8em;
  font-weight: 700;
  margin: 0;
  color: #FFFFFF;
  background: #fbf8ec;
  background: -moz-linear-gradient(top, #FFFFFF 35%, #4e6773 100%);
  background: -webkit-linear-gradient(top, #FFFFFF 35%, #4e6773 100%);
  background: -ms-linear-gradient(top, #FFFFFF 35%, #4e6773 100%);
  background: linear-gradient(to bottom, #FFFFFF 35%, #4e6773 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: .5;
  z-index: 10;
  position: relative;
  top: 135px;
  /*font-size:60%;*/
}

.under-title {
  font-size: 8em;
  font-weight: 700;
  margin: 0;
  opacity: .9;
  
  /*font-size: 60%;*/
  /*top:-100px;*/
 
}

title-brand{
  position: absolute;
  height: 10px;
}

button{
  font-size: 2em;
  font-weight: 700;
  color: white;
  margin: 10px;
  opacity: .8;

  box-shadow: 4px 4px 1px rgba(0,0,0,.3);
  background-color:rgba(0,0,0,.4);
  border-radius: 5px;
  border: solid rgba(0,0,0,.2);
  border-width: 3px;
  padding:10px;
}

button:hover{
  cursor: pointer;
  background-color:rgba(100,100,100,.5);
}

#submitField{
  height: 40px;
  opacity: .8;

}

.mode-buttons {
  margin-bottom: 50px
}